In [1]:
import pandas as pd

In [ ]:
#definir rutas de archivos a cargar
patch_csv = "df_23_08.cvs"
patch_excel = "df_23_08.xlsx"
patch_json = "datos_json/df_23_08.json"

In [4]:
#cargar documeto cvs
df_csv = pd.read_csv(patch_csv)
df_csv

   Edad  Estatura Nacionalidad Cantidad_hijos
0    18      1.70         Peru              1
1    18      1.65         Peru            dos
2    25      1.82         EEUU           cero
3    32      2.00       Urania              2

In [7]:
#cargar documeto excel
df_excel = pd.read_excel(patch_excel)
df_excel

   Edad  Estatura Nacionalidad Cantidad_hijos
0    18      1.70         Peru              1
1    18      1.65         Peru            dos
2    25      1.82         EEUU           cero
3    32      2.00       Urania              2

In [8]:
#cargar documeto json
df_json = pd.read_json(patch_json)
df_json

   Edad  Estatura Nacionalidad Cantidad_hijos
0    18      1.70         Peru              1
1    18      1.65         Peru            dos
2    25      1.82         EEUU           cero
3    32      2.00       Urania              2